{% extends 'utilities/obj_edit.html' %}
{% load static from staticfiles %}
{% load form_helpers %}

{% block title %}{% if obj.pk %}Editing {{ secret }}{% else %}Add a Secret{% endif %}{% endblock %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Secret Attributes</strong></div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-3 control-label required">Device</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{ obj.device }}</p>
                </div>
            </div>
            {% render_field form.role %}
            {% render_field form.name %}
            {% render_field form.userkeys %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Secret Data</strong></div>
        <div class="panel-body">
            {% if obj.pk %}
                <div class="form-group">
                    <label class="col-md-3 control-label required">Current Plaintext</label>
                    <div class="col-md-7">
                        <p class="form-control-static" id="secret_{{ obj.pk }}">********</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-xs btn-success unlock-secret" secret-id="{{ obj.pk }}">
                            <i class="fa fa-lock"></i> Unlock
                        </button>
                        <button class="btn btn-xs btn-danger lock-secret collapse" secret-id="{{ obj.pk }}">
                            <i class="fa fa-unlock-alt"></i> Lock
                        </button>
                    </div>
                </div>
            {% endif %}
            {% render_field form.plaintext %}
            {% render_field form.plaintext2 %}
        </div>
    </div>
    {% if form.custom_fields %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Custom Fields</strong></div>
            <div class="panel-body">
                {% render_custom_fields form %}
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tags</strong></div>
        <div class="panel-body">
            {% render_field form.tags %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% include 'secrets/inc/private_key_modal.html' %}
<script src="{% static 'js/secrets.js' %}?v{{ settings.VERSION }}"></script>
{% endblock %}
